body{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Rockwell', Courier Bold, Courier;
    font-size: 25px;
}
.container{
    background: rgb(0, 132, 255);
    color: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 10px;
}